<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布 - 社区</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/publish.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/editormd.css" />
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/publish.js"></script>
    <script src="/js/editormd.min.js"></script>
    <script type="text/javascript">
        $(function() {
            var editor = editormd("description-editor", {
                width  : "100%",
                height : 350,
                path   : "/js/lib/",
                delay  : 0,
                watch  : false,
                placeholder: "请输入问题详细内容",
                imageUpload    : true,
                imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL : "/file/upload",
            });
        });
    </script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）:</label>
                    <input type="text" name="title" th:value="${title}" class="form-control" autocomplete="off" id="title" placeholder="问题标题....">
                </div>
                <div class="form-group" id="description-editor">
                    <label for="description">问题补充 (必填，请参照右侧提示):</label>
                    <textarea name="description" th:text="${description}" style="display:none;"  class="form-control"  id="description" cols="30" rows="10">

                    </textarea>
                </div>
                <div class="form-group">
                    <label for="title">添加标签:</label>
                    <input type="text" name="tag" th:value="${tag}" onclick="showSelectTag()" class="form-control" id="tag" placeholder="输入标签，以，号结束" autocomplete="off">
                </div>

                <div id="select-tag" class="publish-tag-tab">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" th:each="category,cateState:${categories}" th:class="${cateState.first}?'active':''">
                            <a th:href="'#'+${category.categoryName}" aria-controls="home" role="tab" data-toggle="tab" th:text="${category.categoryName}"></a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content" >
                        <div role="tabpanel" class="tab-pane" th:id="${category.categoryName}" th:classappend="${cateState.first}?'active':''" th:each="category,cateState:${categories}">
                            <span class="label label-info label-margin" onclick="selectTag(this)" th:data-tag="${selectTag}"  th:each="selectTag:${category.tags}">
                                <span class="glyphicon glyphicon-tags"></span>
                                <span th:text="${selectTag}"></span></span>

                        </div>

                    </div>

                </div>

                <div th:if="${error != null}">
                    <div class="alert alert-danger" role="alert" th:text="${error}"></div>
                </div>
                <button type="submit" class="btn btn-success btn-publish">确认发起</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            <ul>
                <li>问题标题: 请用精简的语言描述您发布的问题，不超过25字</li>
                <li>问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料：</li>
                <li>选择标签: 选择一个或者多个合适的标签,用,号隔开,不超过10个字</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>